@import '~styles/common';

html {
  font-family: 'Roboto', sans-serif;
  color: $color-text-default;
  font-size: 16px;
  @media #{$mobile} {
    font-size: 40px;
  }
}

* {
  outline: none;
  box-sizing: border-box;
}

#root {
  display: flex;
  background: $light-blue;
  height: 100vh;
  overflow: hidden;
  background: $medium-blue;
  background: linear-gradient(to bottom, lighten($medium-blue, 20%), $medium-blue);
}